@import '~@angular/material/theming';


$app-primary: mat-palette($mat-indigo, 700);
$app-accent:  mat-palette($mat-red);
$app-warn: mat-palette($mat-green);


$blue-grey-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

