<div fxLayout="column" fxLayoutAlign="start start" fxFlexFill>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">



    <button mat-button (click)="snav.toggle()" fxFlex="0 1 auto">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="headline p-4" fxFlex="1 0 auto" fxLayout="row">
      <div class="logo" fxFlex="0 1 auto"></div> Angular </div>


  </mat-toolbar>
  <mat-sidenav-container color="primary" fxFlex="1 1 auto" fxFlexFill fxLayoutGap="8px">







    <mat-sidenav #snav role="navigation" [mode]="obsmed.isActive('xs') ? 'over' : 'side'" [fixedInViewport]="obsmed.isActive('xs')"
      [opened]="!obsmed.isActive('xs')" perfectScrollbar class="sidenav" fxLayout="column" fxLayoutAlign="start center">

      <mat-nav-list fxLayout="column" fxLayoutAlign="start center">
        <mat-accordion color="primary">


          <mat-expansion-panel class="mx-8">
            <mat-expansion-panel-header>
              <mat-panel-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                <p>Übersicht</p>

              </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="mx-auto" *ngFor="let nav of links">

              <a mat-list-item [routerLink]="'/' + nav.path" routerLinkActive #rla="routerLinkActive">
                <mat-icon class="mr-24">school</mat-icon> {{nav.data.linkText}}</a>
            </div>
          </mat-expansion-panel>
        </mat-accordion>


      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content role="main" class="mat-elevation-z1 p-8 " perfectScrollbar fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="0 1 auto" fxFlexAlign="center" style="width: 90%; height: 90%;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div fxFlex="0 1 0" fxFlexFill fxFlexAlign="center" class="footer">
    <div fxLayout="row" fxLayoutAlign="center center" class="footer mat-typography">
      <div class="mat-body" fxFlexAlign="center"> Daniel Schröder, {{date | date:'mediumDate':'':'de'}}</div>
    </div>

  </div>
</div>