@import "styles/core";

.footer {
    background: mat-color($app-primary, default );
    height: 32px;
}
.logo {
    width: 32px;
    height: 32px;
    background: $logo;
}

.sidenav {
    background: mat-color($app-primary, default  );
    color: white;
    > {
        color: white;
    }
    min-width: 200px;
}

.mr-24 {
    margin-right: 24px
}
.mx-8{
    margin-left: 8px;
    margin-right: 8px;
}