<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar >
  <mat-toolbar-row>
    <button mat-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="headline p-4"> AngularTest </div>

  </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

  <mat-sidenav #snav role="navigation" [mode]="mobileQuery.matches ? 'over' : 'side'"
   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

    <div class="title">
      Tutorials
    </div>
      <mat-nav-list>

        <a mat-list-item *ngFor="let nav of links" [routerLink]="nav.path"
         routerLinkActive #rla="routerLinkActive">
        {{nav.data.linkText}}</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main" fxLayout="column" fxLayoutAlign="start stretch" class="mat-elevation-z1 p-8">

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>