<mat-card @flyInOut (click)="onClick()">
  <mat-card-title style="font-size: 64px">
    Übersicht
  </mat-card-title>
  <mat-card-content class="mat-typography" style="font-size:32px" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
      <div fxFlex="50%">
        <ol type="1" fxFlex="0 1 auto">

          <li @flyInOut *ngFor="let it of curitems">
            <a [routerLink]="it.link">{{it.text}}</a>
          </li>


        </ol>
      </div>
      <div fxFlex="50%" fxFlexFill >
        <img @fadeIn src="assets/images/angular.svg" fxFlexAlign="center" class="logo">

      </div>
    </div>
  </mat-card-content>
</mat-card>