<div fxFlexFill>
  <mat-card [@backgroundFadeIn]="imgstate" (click)="onClick()" fxLayout="column" fxLayoutAlign="start center" perfectScrollbar>
    <mat-card-title style="font-size: 64px" fxFlex="0 0 auto">
      Übersicht
    </mat-card-title>
    <!-- <img mat-card-image [@fadeIn]="this.imgstate" src="assets/images/angular.svg"> -->

    <mat-card-content class="mat-typography" style="font-size:32px" fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="50%" fxFlexAlign="center">
        <ol type="1">

          <li @flyInOut *ngFor="let it of curitems">
            <a [routerLink]="it.link">{{it.text}}</a>
          </li>


        </ol>
      </div>


     
    </mat-card-content>

  </mat-card>
</div>