@import "../styles/core";
li {
    margin: auto;
    padding: 8px;
}
a:visited {
    color: mat-color($app-primary, darker);
}
a {
    text-decoration: unset;
    color: mat-color($app-primary, darker);
}
.mat-card {
    height: 100%;
    background: $logo;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    overflow: hidden;
}
.mat-card-content{
    width: 100%;
}
.mat-card-title {
    font-size: 4rem;
    
}


:host {
    width: 100%;
    height: 100%;
    display: flex;
}