<mat-card >
<mat-card-title>
  Übersicht
</mat-card-title>
<mat-card-content>
  <mat-list role="list" class="center">
    <mat-list-item role="listitem">
      <mat-icon>remove</mat-icon>
      <p class="ml-8">Installation</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon>remove</mat-icon>
      <p class="ml-8">Angular CLI</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon>remove</mat-icon>
      <p class="ml-8">Components</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon>remove</mat-icon>
      <p class="ml-8">Services</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon>remove</mat-icon>
      <p class="ml-8">Routing und Navigation</p>
    </mat-list-item>

  </mat-list>
</mat-card-content>
</mat-card>