/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

@import "app/themes/blue-grey-theme.scss";

@include angular-material-theme($blue-grey-theme);

.p-4{
    padding: 4px;
}
.p-8 {
    padding: 8px;
}

.p-l-4{
    padding: 4 4 0 0;
}