/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

@import "app/themes/blue-grey-theme.scss";
@include angular-material-theme($blue-grey-theme);
@import '~perfect-scrollbar/css/perfect-scrollbar.css';



html, body {
    height: 100%;
    margin: 0;
}

.center {
    margin: auto;
    width: 75%;
    height: 75%;
    text-align: center;
}

.ml-8 {
    margin-left: 1em;
}
